{% extends "nps_site/company.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/about.css" %}">
{% endblock %}

{% block title %}О нас{% endblock %}

{% block main %}
    <h1 class="main-caption">О нас</h1>
    <hr>
    <div class="main-container">
        <p>Наша компания - новичок в жилищном управлении, поэтому для нас важно получать доверие со стороны жильцов. Мы не хотим, чтобы Новополис видели как компанию, преследующую только свои корыстные цели. Новополис даёт всё возможное, чтобы завоевать любовь и желание оставить дома под своим управлением.</p>
        <p>Мы верим, что каждый человек достоин проживания в хорошо благоустроенном месте. Мы хотим, чтобы жильцы чувствовали комфорт и радость при выходе в свой подъезд или двор.
        <p>Мы берём на себя ответственность за безопасность, чтобы ни один злоумышленник не мог причинить вреда жильцам. Безопасность обеспечивается системой видеонаблюдения.</p>
        <p>Мы приветствуем инновации в жилищном управлении. У нас уже есть приложение для смартфонов, которое позволяет напрямую взаимодействовать с нами, отправлять свои вопросы и давать показания приборов учёта, оплачивать счета.</p>
    </div>
{% endblock %}