{% extends "nps_site/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/application.css" %}">
{% endblock %}

{% block title %}Отправить заявку{% endblock %}

{% block content %}
    <div class="col-8 main">
        <h1 class="main-caption">Отправить заявку</h1>
        <hr>
        <div class="main-container">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
            <p>Используя данную форму, Вы можете отправить заявку в диспетчерскую службу.</p>
            <form method="post">
                {% csrf_token %}
                <div class="form-group {% if form.fio.field.required %}required{% endif %}">
                    {{ form.fio.label_tag }}
                    {{ form.fio }}
                </div>
                <div class="form-group {% if form.phone.field.required %}required{% endif %}">
                    {{ form.phone.label_tag }}
                    {{ form.phone }}
                </div>
                <div class="form-row">
                    <div class="form-group col {% if form.address.field.required %}required{% endif %}">
                        {{ form.address.label_tag }}
                        {{ form.address }}
                    </div>
                    <div class="form-group col {% if form.apartment.field.required %}required{% endif %}">
                        {{ form.apartment.label_tag }}
                        {{ form.apartment }}
                    </div>
                </div>
                <div class="form-group {% if form.email.field.required %}required{% endif %}">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="form-group {% if form.description.field.required %}required{% endif %}">
                    {{ form.description.label_tag }}
                    {{ form.description }}
                </div>
                <div class="form-group {% if form.time.field.required %}required{% endif %}">
                    {{ form.time.label_tag }}
                    {{ form.time }}
                </div>
                <div class="form-group {% if form.privacy.field.required %}required{% endif %}">
                    <div class="form-check">
                        {{ form.privacy }}
                        Ознакомлен и принимаю условия <a class="privacy" href="">политики конфиденциальности</a>. Даю согласие на обработку и передачу своих персональных данных
                        {{ form.privacy.label_tag }}
                    </div>
                </div>
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <script src="{% static "js/captcha.js" %}"></script>
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6LehQtcUAAAAAMx5sEJI_P2Rt9VCuhmQdpcKWk1Z" data-callback="enableBtn"></div>
                </div>
                <button class="btn" type="submit" id="submit" disabled>Отправить сообщение</button>
            </form>
        </div>
    </div>
    <div class="col-4 sidebar">
        {% include "nps_site/panels/buttons_panel.html" %}
        {% include "nps_site/panels/contacts_panel.html" %}
        {% include "nps_site/panels/worktime_panel.html" %}
        {% include "nps_site/panels/links_panel.html" %}
    </div>
{% endblock %}