{% extends "nps_site/docs.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/contracts.css" %}">
{% endblock %}

{% block title %}Договоры{% endblock %}

{% block main %}
    <h1 class="main-caption">Договоры</h1>
    <hr>
    <div class="main-container">
        {% for q in query %}
            <h3>{{ q.name }}</h3>
            {% for d in q.docs.all %}
                <p><a href="{{ d.file.url }}">{{ d.name }}</a></p>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}