{% extends "nps_site/base.html" %}

{% block content %}
    <div class="col-4 sidebar">
        {% include "nps_site/panels/docs_nav_panel.html" %}
        {% include "nps_site/panels/contacts_panel.html" %}
        {% include "nps_site/panels/links_panel.html" %}
    </div>
    <div class="col-8 main">
        {% block main %}{% endblock %}
    </div>
{% endblock %}