{% extends "nps_site/company.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/email.css" %}">
{% endblock %}

{% block title %}Электронный адрес{% endblock %}

{% block main %}
    <h1 class="main-caption">Электронный адрес</h1>
    <hr>
    <div class="main-container">
        <img src="{% static "img/post.jpg" %}">
        <div class="email">
            <p><strong>Электронный адрес: </strong> {{ company.email }}</p>
            <p><strong>Для подачи показаний: </strong> {{ company.email }}</p>
        </div>
    </div>
{% endblock %}