{% load static %}
<footer class="row">
    <div class="col">
        <h5>Контакты</h5>
        <p>Адрес: {{ company.address }}</p>
        <p>Телефон: {{ company.phone1 }}, {{ company.phone2 }}</p>
        <p>Электронная почта: {{ company.email }}</p>
    </div>
    <div class="col">
        <h5>Социальные сети</h5>
        <a href="https://vk.com/novopoliscompany"><img src="{% static "img/vk.png" %}"></a>
    </div>
</footer>