{% extends "nps_site/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/houses.css"%}">
{% endblock %}

{% block title %}Дома{% endblock %}

{% block content %}
    <div class="col-4 sidebar">
        {% include "nps_site/panels/contacts_panel.html" %}
        {% include "nps_site/panels/links_panel.html" %}
    </div>
    <div class="col-8 main">
        <h1 class="main-caption">Дома</h1>
        <hr>
        <div class="main-container">
            <table class="houses">
                <thead>
                    <tr>
                        <td>№</td>
                        <td>Адрес дома</td>
                        <td>Вид обслуживания</td>
                    </tr>
                </thead>
                <tbody>
                    {% for h in houses %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="#">{{ h.address }}</a></td>
                            <td>{{ h.get_type_display }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}