{% extends "nps_site/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="col-8 main">
        <img class="logo" src="{% static "img/company.jpg" %}">
        <h5>Добро пожаловать на сайт "Капитальное Решение"!</h5>
        <h5>Дорогие посетители! Мы рады приветствовать вас на нашем новом сайте!</h5>
        <p>Здесь вы сможете получить актуальную информацию о деятельности нашей организации, ознакомиться с последними новостями и объявлениями, узнать, какие тарифы и нормативы используются для расчета жилищно-коммунальных услуг, просмотреть опубликованные протоколы, заключения, бухгалтерскую и другую полезную отчетность.</p>
        <p>Также с помощью нового сайта жители смогут воспользоваться удобными и полезными онлайн-сервисами. Теперь можно будет быстро и легко отправить показания счетчиков, подать заявку в диспетчерскую службу, написать обращение руководству или бухгалтерии, оплатить квитанцию прямо на сайте любой банковской картой.</p>
        <h5 class="news-caption">Последние новости и объявления</h5>
        <hr>
        <div class="news">
            {% for n in news %}
                <div class="news-box">
                    <div class="image" style="background-image: url({{ n.image }});"></div>
                    <div class="text">
                        <h6>{{ n.caption }}</h6>
                        <small>{{ n.date }}</small>
                    </div>
                </div>
            {% empty %}
                <h5>Пока новостей нет</h5>
            {% endfor %}
        </div>
    </div>
    <div class="col-4 sidebar">
        {% include "nps_site/panels/buttons_panel.html" %}
        {% include "nps_site/panels/contacts_panel.html" %}
        {% include "nps_site/panels/worktime_panel.html" %}
        {% include "nps_site/panels/links_panel.html" %}
    </div>
{% endblock %}