{% extends "nps_site/company.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/leadership.css" %}">
{% endblock %}

{% block title %}Руководство{% endblock %}

{% block main %}
    <h1 class="main-caption">Руководство</h1>
    <hr>
    <div class="main-container">
        {% for q in query %}
            <div class="partner">
                <h5 class="partner-caption">{{ q.fio }}</h5>
                <hr>
                <img src="{% if q.avatar %}{{ q.avatar.url }}{% else %}{% static "img/avatar.jpg" %}{% endif %}">
                <div class="desc">{{ q.position }}</div>
            </div>
        {% endfor %}
    </div>

{% endblock %}