{% extends "nps_site/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/message.css" %}">
{% endblock %}

{% block title %}Связаться с нами{% endblock %}

{% block content %}
    <div class="col-8 main">
        <h1 class="main-caption">Связаться с нами</h1>
        <hr>
        <div class="main-container">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
            <p>Вы можете направить нам письменное обращение, заполнив форму обратной связи, которая представлена ниже.</p>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% if forloop.last %}
                        <div class="form-group {% if field.field.required %}required{% endif %}">
                            <div class="form-check">
                                {{ field }}
                                Ознакомлен и принимаю условия <a class="privacy" href="">политики конфиденциальности</a>. Даю согласие на обработку и передачу своих персональных данных
                                {{ field.label_tag }}
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group {% if field.field.required %}required{% endif %}">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endif %}
                {% endfor %}
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <script src="{% static "js/captcha.js" %}"></script>
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6LehQtcUAAAAAMx5sEJI_P2Rt9VCuhmQdpcKWk1Z" data-callback="enableBtn"></div>
                </div>
                <button class="btn" type="submit" id="submit" disabled>Отправить сообщение</button>
            </form>
        </div>
    </div>
    <div class="col-4 sidebar">
        {% include "nps_site/panels/buttons_panel.html" %}
        {% include "nps_site/panels/contacts_panel.html" %}
        {% include "nps_site/panels/worktime_panel.html" %}
        {% include "nps_site/panels/links_panel.html" %}
    </div>
{% endblock %}