{% load static %}
<nav class="row navbar">
    <div class="navbar-brand">
        <a class="brand-name" href="{% url "index" %}"><img src="{% static "img/house.png" %}">Управляющая компания "Новополис"</a>
    </div>
</nav>
<nav class="row top-menu navbar navbar-light navbar-expand-lg d-flex justify-content-between">
    <div class="nav-item flex-fill {% if request.resolver_match.url_name == "index" %}active{% endif %}">
        <a class="nav-link" href="{% url "index" %}">Главная</a>
    </div>
    <div class="nav-item dropdown flex-fill {% if request.resolver_match.url_name == "company" %}active{% endif %}">
        <a class="nav-link" data-toggle="dropdown" href="">Компания</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url "company" %}?page=about">О нас</a>
            <a class="dropdown-item" href="{% url "company" %}?page=requisites">Реквизиты</a>
            <a class="dropdown-item" href="{% url "company" %}?page=leadership">Руководство</a>
            <a class="dropdown-item" href="{% url "company" %}?page=email">Электронный адрес</a>
        </div>
    </div>
    <div class="nav-item flex-fill {% if request.resolver_match.url_name == "houses" %}active{% endif %}">
        <a class="nav-link" href="{% url "houses" %}">Дома</a>
    </div>
    <div class="nav-item dropdown flex-fill {% if request.resolver_match.url_name == "docs" %}active{% endif %}">
        <a class="nav-link" data-toggle="dropdown" href="">Документы и отчётность</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url "docs" %}?page=contracts">Договоры</a>
            <a class="dropdown-item" href="{% url "docs" %}?page=passtable">Паспортный стол</a>
        </div>
    </div>
    <div class="nav-item flex-fill {% if request.resolver_match.url_name == "phones" %}active{% endif %}">
        <a class="nav-link" href="{% url "phones" %}">Полезные номера</a>
    </div>
    <div class="nav-item flex-fill {% if request.resolver_match.url_name == "gallery" %}active{% endif %}">
        <a class="nav-link" href="{% url "gallery" %}">Галерея</a>
    </div>
</nav>