{% extends "nps_site/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/numbers.css"%}">
{% endblock %}

{% block title %}Полезные номера{% endblock %}

{% block content %}
    <div class="col-4 sidebar">
        {% include "nps_site/panels/contacts_panel.html" %}
        {% include "nps_site/panels/links_panel.html" %}
    </div>
    <div class="col-8 main">
        <h1 class="main-caption">Полезные номера</h1>
        <hr>
            <div class="main-container">
                <table class="numbers">
                    <thead>
                        <tr>
                            <td colspan="2">Телефоны</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Приёмная:</td>
                            <td>+ 7 (3412) 56-11-53</td>
                        </tr>
                        <tr>
                            <td>Диспетчер АДС:</td>
                            <td>+ 7 (3412) 47-45-34</td>
                        </tr>
                        <tr>
                            <td>Паспортный стол:</td>
                            <td>+ 7 (3412) 93-67-87</td>
                        </tr>
                        <tr>
                            <td>Управляющий в г.Ижевске:</td>
                            <td>+ 7 (963)5413289</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
{% endblock %}