{% extends "nps_site/docs.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/passtable.css" %}">
{% endblock %}

{% block title %}Паспортный стол{% endblock %}

{% block main %}
    <h1 class="main-caption">Паспортный стол</h1>
    <hr>
    <div class="main-container">
        {% for q in query %}
            <p><a href="{{ q.file.url }}">{{ q.name }}</a></p>
        {% endfor %}
    </div>
{% endblock %}