{% extends "nps_site/company.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/requisites.css" %}">
{% endblock %}

{% block title %}Реквизиты{% endblock %}

{% block main %}
    <h1 class="main-caption">Реквизиты</h1>
    <hr>
    <div class="main-container">
        <p><strong>Наименование организации</strong> ООО Управляющая компания "НОВОПОЛИС"</p>
        <p><strong>ОГРН</strong> 1081838000771</p>
        <p><strong>Дата регистрации</strong> 11.12.2018</p>
        <p><strong>Наименование регистрирующего органа</strong> Межрайонная ИФНС №10 по Удмуртской Республике</p>
        <p><strong>ИНН</strong> 1838003668</p>
        <p><strong>КПП</strong> 183801001</p>
        <p><strong>Адрес</strong> 426011, Удмуртская Республика, г.Ижевск, ул. 10 лет Октября,   д. 7 а, оф. 201</p>
        <p><strong>Р\с</strong> 40702810408000021845</p>
        <p><strong>К\с</strong> 30101810900000000871</p>
        <p><strong>БИК</strong> 049018871</p>
        <p><strong>Банк</strong> В АКБ «Ижкомбанк» (ПАО) г. Ижевск</p>
    </div>
{% endblock %}