form .required label:after {
    content: "*";
    color: red;
}

form a {
    color: #f3b547;
}

form a:hover {
    color: #f3b547;
}

form .btn {
    color: white;
    background-color: #f3b547;
}

form .btn:enabled:hover {
    color: white;
    background-color: #5d5c5a;
}

form .btn:disabled:hover {
    color: white;
}
