.main .houses {
	width: 100%;
}

.main .houses thead {
	width: 500px;
	color: white;
	background-color: #f3b547;
}

.main .houses thead td {
	padding: 5px 0 5px 10px;
	font-weight: 600;
}

.main .houses tbody td {
	padding: 5px 0 5px 15px;
}

.main .houses tbody td a {
	color: #f3b547;
}