.content .main .logo {
	width: 100%;
}

.content .main h5 {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #f3b547;
	text-align: center;
	font-weight: 700;
}

.content .main p {
	text-indent: 1em;
}

.content .main hr {
	border-color: lightgray;
}

.content .main .news-caption {
	text-align: left;
	padding-bottom: 0px;
}

.main .news {
	margin-bottom: 20px;
}

.main .news .news-box {
	display: inline-block;
	width: 49%;
	padding: 10px;
}

.main .news .news-box .image {
	float: left;
	border: 1px solid;
	width: 45%;
	height: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.main .news .news-box .text {
	float: right;
	width: 55%;
}

.main .news .news-box .text h6 {
	text-align: left;
	word-wrap: break-word;
	padding: 2px 0 0 10px;
	margin-bottom: 0px;
	color: #f3b547;
}

.main .news .news-box .text small {
	padding-left: 10px;
}