.content .main .partner {
	border: 1px solid lightgray;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 20px;
}

.content .main .partner hr {
	border-top: 1px solid lightgray;
}

.content .main img {
	border-radius: 3px;
	width: 180px;
	height: 180px;
}

.content .main .partner .desc {
	display: inline;
	padding-left: 10px;
	vertical-align: top;
}