.main .numbers {
	width: 500px;
	border: 2px solid #f3b547;
	background-color: #f1f1f1;
}

.main .numbers thead {
	width: 500px;
	color: white;
	background-color: #f3b547;
	text-align: center;
}

.main .numbers thead td {
	padding: 5px 0 5px 0;
	font-weight: 600;
}

.main .numbers tbody td:nth-child(2) {
	width: 50%;
}

.main .numbers tbody td {
	padding: 5px 0 5px 15px;
	border-right: 1px solid #f3b547;
}

.main .numbers tbody td a {
	color: #f3b547;
}