.container {
	background-color: white;
}

.navbar-nav {
	width: 100%;
}

.navbar-brand {
	padding-bottom: 0px;
}

.navbar-brand img {
	width: 30px;
	height: 30px;
	margin-right: 10px; 
	margin-bottom: 10px;
}

.navbar .active {
	background-color: #5d5c5a;
}

.brand-name {
	color: #f3b547;
	margin-left: 40px;
	font-weight: 700;
}

.brand-name:hover {
	color: #f3b547;
	text-decoration: none;
	filter: brightness(70%);
}

.top-menu {
	padding: 0 10px 0 10px;
	background-color: #f3b547;
}

.top-menu .nav-item {
	padding: 5px;
	text-align: center;
}

.top-menu .nav-item:hover {
	background-color: #5d5c5a;
}

.top-menu .nav-item .nav-link {
	color: white;
	font-weight: 700;
}

.top-menu .show {
	background-color: #5d5c5a;
}

.top-menu .dropdown-menu {
	border: none;
	padding: 0px;
	margin-top: 0px;
}

.top-menu .dropdown-item {
	color: white;
	background-color: #5d5c5a;
}

.top-menu .dropdown-item:hover {
	background-color: #f3b547;
}

footer {
	background-color: #5d5c5a;
	height: 200px;
}

footer h5 {
	margin: 20px 10px 20px 10px;
	color: #f3b547;
}

footer p {
	color: white;
	font-weight: 600;
	margin-bottom: 0px;
	padding: 0 10px 0 10px;
}

footer img {
	margin: 0 10px 0 10px;
	width: 30px;
	height: 30px;
}

footer img:hover {
	margin: 0 10px 0 10px;
	width: 30px;
	height: 30px;
	filter: brightness(70%);
}

.main {
	padding: 0 20px 20px 20px;
}

.sidebar {
	padding: 20px 20px 20px 20px;
}

.sidebar a {
	text-decoration: none;
}

.sidebar .nav-panel {
	font-weight: 600;
	margin-top: 15px;
	margin-bottom: 15px;
}

.sidebar .nav-panel a {
	color: black;
	text-decoration: none;
}

.sidebar .nav-panel .nav-panel-link {
	background-color: #f1f1f1;
	border-left: 5px solid #f3b547;
	padding: 5px 10px 5px 20px;
}

.sidebar .nav-panel .nav-panel-link:hover,
.sidebar .nav-panel .active {
	background-color: #e7e7e7;
	border-left: 5px solid #5d5c5a;
	padding: 5px 10px 5px 20px;
}


.sidebar .panel {
	margin-top: 15px;
	margin-bottom: 15px;
}

.sidebar .panel .active,
.sidebar .panel .link:hover {
	background-color: #5d5c5a;
}

.sidebar .panel-caption {
	font-weight: 700;
	background-color: #f3b547;
	color: white;
	padding: 10px 10px 10px 20px;
}

.sidebar .arrow {
	float: right;
	font-weight: 700;
}

.sidebar .panel-content {
	font-weight: 600;
	border: 2px solid #f3b547;	
	padding: 10px 10px 10px 20px;
}

.sidebar .panel-content h5 {
	color: black;
	font-weight: 600;
	font-size: 12pt;
	text-align: center;
}

.sidebar .panel-content ul {
	padding: 0px;
	list-style: none;
}

.sidebar .panel-content .panel-dec {
	color: #f3b547;
}

.content .main .main-caption {
	margin-top: 20px;
}

.content .main hr {
	border-top: 1px solid #f3b547;
}

.content .main .main-container {
	padding: 0 10px 0 10px;
}

.content .main .main-container p {
	text-indent: 0;
}