<div class="panel">
    <a href="{% url "message" %}">
        <div class="panel-caption link {% if request.resolver_match.url_name == "message" %}active{% endif %}">
            Связаться с нами<span class="arrow">></span>
        </div>
    </a>
</div>
<div class="panel">
    <a href="{% url "application" %}">
        <div class="panel-caption link {% if request.resolver_match.url_name == "application" %}active{% endif %}">
            Отправить заявку<span class="arrow">></span>
        </div>
    </a>
</div>
<div class="panel">
    <a href="#">
        <div class="panel-caption link {% if request.resolver_match.url_name == "meters" %}active{% endif %}">
            Подать показания счётчиков<span class="arrow">></span>
        </div>
    </a>
</div>