<div class="nav-panel">
    <a href="{% url "company" %}?page=about">
        <div class="nav-panel-link {% if request.GET.page == "about" %}active{% endif %}">О нас<span class="arrow">></span></div>
    </a>
    <a href="{% url "company" %}?page=requisites">
        <div class="nav-panel-link {% if request.GET.page == "requisites"  %}active{% endif %}">Реквизиты<span class="arrow">></span></div>
    </a>
    <a href="{% url "company" %}?page=leadership">
        <div class="nav-panel-link {% if request.GET.page == "leadership"  %}active{% endif %}">Руководство<span class="arrow">></span></div>
    </a>
    <a href="{% url "company" %}?page=email">
        <div class="nav-panel-link {% if request.GET.page == "email"  %}active{% endif %}">Электронный адрес<span class="arrow">></span></div>
    </a>
</div>