<div class="panel">
    <div class="panel-caption">Контакты</div>
    <div class="panel-content">
        <h5>{{ company.name }}</h5>
        <p>{{ company.phone1 }}</p>
        <p>{{ company.phone2 }}</p>
        <p>{{ company.email }}</p>
    </div>
</div>