<div class="nav-panel">
    <a href="{% url "docs" %}?page=contracts">
        <div class="nav-panel-link {% if request.GET.page == "contracts" %}active{% endif %}">Договоры<span class="arrow">></span></div>
    </a>
    <a href="{% url "docs" %}?page=passtable">
        <div class="nav-panel-link {% if request.GET.page == "passtable" %}active{% endif %}">Паспортный стол<span class="arrow">></span></div>
    </a>
</div>