<div class="panel">
    <div class="panel-caption">Режим работы</div>
    <div class="panel-content">
        <ul>
            <li><span class="panel-dec">П</span>онедельник с 8:00 до 17:00</li>
            <li><span class="panel-dec">В</span>торник с 8:00 до 17:00</li>
            <li><span class="panel-dec">С</span>реда с 10:00 до 17:00</li>
            <li><span class="panel-dec">Ч</span>етверг с 8:00 до 17:00</li>
            <li><span class="panel-dec">П</span>ятница с 8:00 до 16:00</li>
            <li>Обед с 12:00 до 13:00</li>
        </ul>
    </div>
</div>